.drawer {
    position: fixed;
    height: 0;
    width: 0;
    z-index: 1000;
    background-color: white;
    overflow: hidden;
}

.drawer.top {
    top: 0;
}

.drawer.bottom {
    bottom: 0;
}

.drawer.top,
.drawer.bottom {
    width: 100%;
    transition: height 0.3s ease-in-out;
}

.drawer.top.open,
.drawer.bottom.open {
    height: 100%;
}

.drawer.left {
    left: 0;
}

.drawer.right {
    right: 0;
}

.drawer.left,
.drawer.right {
    top: 0;
    height: 100%;
    transition: width 0.3s ease-in-out;
}

.drawer.left.open,
.drawer.right.open {
    width: 100%;
}

.drawer-buttons {
    position: absolute;
    top: 0;
    right: 0;
    margin: 20px;
}